<!DOCTYPE html>
 <html lang="ja">
  <head>

<title>tdl-cd-shop</title>

<!-- 足しました　-->

<%= stylesheet_link_tag "for_category/giraffe", :media => "all" %>
<%= stylesheet_link_tag "for_category/bootstrap", :media => "all" %>
<%= stylesheet_link_tag "for_category/bootstrap-responsive", :media => "all" %>
<%= stylesheet_link_tag "for_category/bootstrap-ds2", :media => "all" %>
<%= stylesheet_link_tag "for_category/bootstrap-ds2-responsive", :media => "all" %>
<!-- -->

</head>

<body data-spy="scroll" data-target="#navbar" class="">


<div id="wrapper">

  <div class="navbar navbar-fixed-top" id="page-header">
    <div class="navbar-inner">
      <div class="container">

        <div class="nav-collapse collapse nav-bottom">
          <!--グローバルナビ-->
          <div id="head-navi">
            <div class="center-part">
              <ul class="nav">
                <!--PC用-->
                <li class="visible-desktop">
                  <ul class="nav">
                    




  <li class="dropdown pulldown00  menu-close clickable">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <img src="/assets/images/icon_sp_menu_close.jpg" alt="">
    </button>
  </li>

  <li class="dropdown pulldown01  clickable"><a id="drop1" href="/item/new_arrival"><div class="Arbutus">New Item</div><span>新製品</span></a></li>

  <li class="dropdown pulldown02 visible-phone  clickable"><a id="drop2" href="/shop/giraffe/item/list/category_id/0"><div class="Arbutus">ALL Item</div><span>全ての商品</span></a></li>

  <li class="dropdown pulldown03  clickable "><a id="drop3" href="/shop/giraffe/item/list/category_id/1" role="button" class="dropdown-toggle" data-toggle="dropdown"><div class="Arbutus">Necktie</div><span>ネクタイ</span></a>

  
    <div class="dropdown-menu " role="menu" aria-labelledby="drop3">
      
  
    </div>
  </li>
  
  <li class="dropdown pulldown04  clickable "><a id="drop4" href="/shop/giraffe/item/list/category_id/2"><div class="Arbutus">Bowtie</div><span>蝶ネクタイ</span></a>
    </li>

  <li class="dropdown pulldown05  clickable "><a id="drop5" href="/shop/giraffe/item/list/category_id/5"><div class="Arbutus">Shirts</div><span>シャツ</span></a>
    </li>
  
  <li class="dropdown pulldown06  clickable "><a id="drop6" href="/shop/giraffe/item/list/category_id/3" role="button" class="dropdown-toggle" data-toggle="dropdown"><div class="Arbutus">Accessories</div><span>アクセサリー</span></a>
      <div class="dropdown-menu " role="menu" aria-labelledby="drop6">
      <div class="nav-categories">
        <h2 class="Arbutus visible-desktop"><strong>Cateogries</strong></h2>
        <ul>
          <li><a href="/shop/giraffe/item/list/category_id/3">すべての商品</a></li>
<li><a href="/shop/giraffe/item/list/category_id/12">ネクタイピン</a></li>
<li><a href="/shop/giraffe/item/list/category_id/150">カフス</a></li>
<li><a href="/shop/giraffe/item/list/category_id/157">袱紗</a></li>
<li><a href="/shop/giraffe/item/list/category_id/13">チーフ</a></li>
<li><a href="/shop/giraffe/item/list/category_id/25">ロゼット</a></li>
        </ul>
      </div>
      <div class="nav-img  visible-desktop">
        <h2 class="Arbutus"><strong>Recommend</strong></h2>
        <a href="/shop/giraffe/item/view/shop_product_id/183" class="_hover" ><img src="/sysimg/product/PMP0613S/PMP0613S_main_125x160.jpg" />
        <p class="nav-detail" class="_hover" >ジラフタイピン　BEIGE<br /></p>
        </a>
      </div>
    </div>
  </li>

  <li class="dropdown pulldown07  clickable "><a id="drop7" href="/item/search/id/search/name/search?keyword=ギフト"><div class="Arbutus">Gift</div><span>ギフト</span></a></li>


  <li class="dropdown pulldown08 visible-phone  clickable "><a id="drop8" href="/item/search/id/search/name/search?keyword=ギフトセット"><div class="Arbutus">Giftset</div><span>ギフトセット</span></a>
    </li>


    
  

  
  


                  </ul>
                </li>
                <!--SMP用-->
                





</ul>
      </div>
    </div>
  </li>
  
  <li class="dropdown pulldown04 hidden-desktop  "><a id="drop4" href="/shop/giraffe/item/list/category_id/2"><div class="Arbutus">Bowtie</div><span>蝶ネクタイ</span></a>
    </li>

  <li class="dropdown pulldown05 hidden-desktop  "><a id="drop5" href="/shop/giraffe/item/list/category_id/5"><div class="Arbutus">Shirts</div><span>シャツ</span></a>
    </li>
  
  <li class="dropdown pulldown06 hidden-desktop  "><a id="drop6" href="/shop/giraffe/item/list/category_id/3" role="button" class="dropdown-toggle" data-toggle="dropdown"><div class="Arbutus">Accessories</div><span>アクセサリー</span></a>
      <div class="dropdown-menu dropdown-sp-menu" role="menu" aria-labelledby="drop6">
      <div class="nav-categories">
        <h2 class="Arbutus visible-desktop"><strong>Cateogries</strong></h2>
        <ul>
          <li><a href="/shop/giraffe/item/list/category_id/3">すべての商品</a></li>
<li><a href="/shop/giraffe/item/list/category_id/12">ネクタイピン</a></li>
<li><a href="/shop/giraffe/item/list/category_id/150">カフス</a></li>
<li><a href="/shop/giraffe/item/list/category_id/157">袱紗</a></li>
<li><a href="/shop/giraffe/item/list/category_id/13">チーフ</a></li>
<li><a href="/shop/giraffe/item/list/category_id/25">ロゼット</a></li>
        </ul>
      </div>
      <div class="nav-img  visible-desktop">
        <h2 class="Arbutus"><strong>Recommend</strong></h2>
        <a href="/shop/giraffe/item/view/shop_product_id/183" class="_hover" ><img src="/sysimg/product/PMP0613S/PMP0613S_main_125x160.jpg" />
        <p class="nav-detail" class="_hover" >ジラフタイピン　BEIGE<br /></p>
        </a>
      </div>
    </div>
  </li>

  <li class="dropdown pulldown07 hidden-desktop  "><a id="drop7" href="/item/search/id/search/name/search?keyword=ギフト"><div class="Arbutus">Gift</div><span>ギフト</span></a></li>

    
  
  
  <li class="dropdown pulldown09 hidden-desktop "><a id="drop9" href="/sp/giraffe"><span class="Arbutus">giraffe</span><span>とは</span></a></li>

  
  


                <li class="hidden-desktop">
                  




  <form class="navbar-form search" method="GET" action="/item/search/id/search/name/search">
  <input class="span3 search-text" type="text" name="keyword" onblur="if (this.value == '') this.value = 'キーワード検索';" onfocus="if (this.value == 'キーワード検索') this.value = '';" value="キーワード検索">
    <button type="submit" class="btn btn-primary search-buttom"><img src="/assets/images/icon_search_smp.png" alt=""></button>
  </form>
  <a class="btn search-buttom-plus" href="/search">こだわり検索</a>
                </li>
              </ul>
            </div>

          </div><!-- /head-navi -->

        </div><!-- /nav-collapse -->
        
        <div class="visible-phone">
          




<ul class="smp_category_menu">
  <li class="dropdown pulldown01"><a id="drop1" href="/"><div class="Arbutus_kana">トップ</div></a></li>
  <li class="dropdown pulldown02">
        <a id="drop2" href="/login"><div class="Arbutus_kana">ログイン</div></a>
    </li>
  <li class="dropdown pulldown03"><a id="drop3" href="/mypage_watch_list"><div class="Arbutus_kana">お気に入り</div></a></li>
  <li class="dropdown pulldown04"><a id="drop4" href="/recently/index"><div class="Arbutus_kana">閲覧履歴</div></a></li>
  <li class="dropdown pulldown05"><a id="drop5" href="/cart/index"><div class="Arbutus_kana">カート</div></a></li>
</ul>

    </div>

        <div id="search_area" class="visible-phone">
      




  <form class="navbar-form search" method="GET" action="/item/search/id/search/name/search">
  <input class="span3 search-text" type="text" name="keyword" onblur="if (this.value == '') this.value = 'キーワード検索';" onfocus="if (this.value == 'キーワード検索') this.value = '';" value="キーワード検索">
    <button type="submit" class="btn btn-primary search-buttom">
  </form>
  <a class="btn search-buttom-plus" href="/search">こだわり検索</a>
    </div>
                
       </div>
    </div>
  </div>



  <div class="container body" id="page-body">

    <!--メイン画像-->
    
    
<script type="text/javascript">

  if ( !$.ds2 ) $.ds2 = {};
  if ( !$.ds2.pagination ) $.ds2.pagination = {};

  $.ds2.pagination.items,
  $.ds2.pagination.pages,
  $.ds2.pagination.currentPage,
  $.ds2.pagination.pageProgress;

  $.ds2.pagination.items = '43',
  $.ds2.pagination.pages = '21',
  $.ds2.pagination.currentPage = '1',
  $.ds2.pagination.pageProgress = '1';

</script>

<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript">
$(window).load(function(){
  $.fancybox.open($('.fancybox'));
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('.fancybox').fancybox();
});
</script>

<!--一覧タイトル
<h1 class="list-title">
  ALL ITEMSアクセサリー</h1>
-->


<div class="thema_image span12 mrnone">

<!--カテゴリバナーを表示させたい時↓-->
  

<!--カテゴリバナーを表示させたい時↑-->
    





  <p class="category-copy">giraffeはネクタイ以外にも、タイピン、ロゼット、ループタイやレディースアイテムもございます。 ネクタイピンは、専用ボックス付でギフトにもお勧めです。 ロゼットは、ポケットチーフの代わりにジャケットに付けたり鞄などにも取り付けて使用していただけます。</p>
</div>



<!--SMPにカテゴリバナー表示-->

  






<!--アイテム一覧-->
<div class="item_main_wrap clearfix">
    
  <div class="pager">
    <!--
    <div class="itemNumber pull-left">
          </div>
    !-->
        <div class="pageNumber">
      <ul>
      
                      <li class="pager_active"><a href="#">1</a></li>
                              <li><a href="/shop/giraffe/item/list/category_id/3/page/2">2</a></li>
              
                <li class="pager_next"><a href="/shop/giraffe/item/list/category_id/3/page/2">＞</a></li>
              </ul>
    </div>
      </div>
                  <div class="list">
            <div class="sectionContent">
        
    <ul class="row-fluid liquid-column2">
          

<li class="span4 first-child nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B7%E3%83%A3%E3%83%BC%E3%82%AF%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GRAY/item/view/shop_product_id/2899/category_id/3" class="_hover">
      <img alt="シャークタイピン GRAY" data-src="/sysimg/product/DMP0118S/DMP0118S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMP0118S/DMP0118S_detail_10_600x600.jpg" alt="DMP0118S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B7%E3%83%A3%E3%83%BC%E3%82%AF%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GRAY/item/view/shop_product_id/2899/category_id/3">シャークタイピン GRAY</a></div>
    <div class="item-price">
              &yen;14,040          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%83%80%E3%82%A4%E3%83%90%E3%83%BC%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/2902/category_id/3" class="_hover">
      <img alt="ダイバータイピン SILVER" data-src="/sysimg/product/DMP0418S/DMP0418S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMP0418S/DMP0418S_detail_10_600x600.jpg" alt="DMP0418S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%80%E3%82%A4%E3%83%90%E3%83%BC%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/2902/category_id/3">ダイバータイピン SILVER</a></div>
    <div class="item-price">
              &yen;14,040          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%83%91%E3%83%BC%E3%83%AB%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/2900/category_id/3" class="_hover">
      <img alt="パールタイピン SILVER" data-src="/sysimg/product/DMP0218S/DMP0218S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMP0218S/DMP0218S_detail_10_600x600.jpg" alt="DMP0218S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%91%E3%83%BC%E3%83%AB%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/2900/category_id/3">パールタイピン SILVER</a></div>
    <div class="item-price">
              &yen;10,260          </div>
  </div>
  </li>

          

<li class="span4 first-child">

    <figure>
    <a href="/shop/giraffe/%E3%83%91%E3%83%BC%E3%83%AB%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GOLD/item/view/shop_product_id/2901/category_id/3" class="_hover">
      <img alt="パールタイピン GOLD" data-src="/sysimg/product/DMP0318S/DMP0318S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMP0318S/DMP0318S_detail_10_600x600.jpg" alt="DMP0318S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%91%E3%83%BC%E3%83%AB%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GOLD/item/view/shop_product_id/2901/category_id/3">パールタイピン GOLD</a></div>
    <div class="item-price">
              &yen;10,260          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%83%84%E3%83%BC%E3%83%88%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+NAVY%C3%97ORANGE/item/view/shop_product_id/2305/category_id/3" class="_hover">
      <img alt="ツートーンタイピン NAVY×ORANGE" data-src="/sysimg/product/PMP0417S/PMP0417S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0417S/PMP0417S_detail_10_600x600.jpg" alt="PMP0417S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%84%E3%83%BC%E3%83%88%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+NAVY%C3%97ORANGE/item/view/shop_product_id/2305/category_id/3">ツートーンタイピン NAVY×ORANGE</a></div>
    <div class="item-price">
              &yen;5,400          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%83%84%E3%83%BC%E3%83%88%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+LT.GRAY%C3%97LT.PINK/item/view/shop_product_id/2304/category_id/3" class="_hover">
      <img alt="ツートーンタイピン LT.GRAY×LT.PINK" data-src="/sysimg/product/PMP0317S/PMP0317S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0317S/PMP0317S_detail_10_600x600.jpg" alt="PMP0317S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%84%E3%83%BC%E3%83%88%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+LT.GRAY%C3%97LT.PINK/item/view/shop_product_id/2304/category_id/3">ツートーンタイピン LT.GRAY×LT.PINK</a></div>
    <div class="item-price">
              &yen;5,400          </div>
  </div>
  </li>

          

<li class="span4 first-child nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%83%84%E3%83%BC%E3%83%88%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+LT.BLUE%C3%97LT.GREEN/item/view/shop_product_id/2302/category_id/3" class="_hover">
      <img alt="ツートーンタイピン LT.BLUE×LT.GREEN" data-src="/sysimg/product/PMP0117S/PMP0117S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0117S/PMP0117S_detail_10_600x600.jpg" alt="PMP0117S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%84%E3%83%BC%E3%83%88%E3%83%BC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+LT.BLUE%C3%97LT.GREEN/item/view/shop_product_id/2302/category_id/3">ツートーンタイピン LT.BLUE×LT.GREEN</a></div>
    <div class="item-price">
              &yen;5,400          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%83%9F%E3%83%A5%E3%83%BC%E3%82%B8%E3%83%83%E3%82%AF%E3%83%8E%E3%83%BC%E3%83%88%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/1970/category_id/3" class="_hover">
      <img alt="ミュージックノートタイピン SILVER" data-src="/sysimg/product/PMP0316S/PMP0316S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0316S/PMP0316S_detail_10_600x600.jpg" alt="PMP0316S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
          <div class="icon">
                  <span class="label label-soldout">SOLDOUT</span>                  <span class="label label-rearrival">再入荷</span>              </div>
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%9F%E3%83%A5%E3%83%BC%E3%82%B8%E3%83%83%E3%82%AF%E3%83%8E%E3%83%BC%E3%83%88%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/1970/category_id/3">ミュージックノートタイピン SILVER</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%83%9F%E3%83%A5%E3%83%BC%E3%82%B8%E3%83%83%E3%82%AF%E3%83%8E%E3%83%BC%E3%83%88%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GOLD/item/view/shop_product_id/1969/category_id/3" class="_hover">
      <img alt="ミュージックノートタイピン GOLD" data-src="/sysimg/product/PMP0216S/PMP0216S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0216S/PMP0216S_detail_10_600x600.jpg" alt="PMP0216S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
          <div class="icon">
                  <span class="label label-soldout">SOLDOUT</span>              </div>
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%9F%E3%83%A5%E3%83%BC%E3%82%B8%E3%83%83%E3%82%AF%E3%83%8E%E3%83%BC%E3%83%88%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GOLD/item/view/shop_product_id/1969/category_id/3">ミュージックノートタイピン GOLD</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4 first-child">

    <figure>
    <a href="/shop/giraffe/%E3%83%9F%E3%83%A5%E3%83%BC%E3%82%B8%E3%83%83%E3%82%AF%E3%83%8E%E3%83%BC%E3%83%88%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+BLACK/item/view/shop_product_id/1968/category_id/3" class="_hover">
      <img alt="ミュージックノートタイピン BLACK" data-src="/sysimg/product/PMP0116S/PMP0116S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0116S/PMP0116S_detail_10_600x600.jpg" alt="PMP0116S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%9F%E3%83%A5%E3%83%BC%E3%82%B8%E3%83%83%E3%82%AF%E3%83%8E%E3%83%BC%E3%83%88%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+BLACK/item/view/shop_product_id/1968/category_id/3">ミュージックノートタイピン BLACK</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%A2%E3%82%A4%E3%82%B9%E3%82%AF%E3%83%A9%E3%82%A4%E3%83%9E%E3%83%BC%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80SILVER/item/view/shop_product_id/58/category_id/3" class="_hover">
      <img alt="アイスクライマータイピン　SILVER" data-src="/sysimg/product/DMP0213A/DMP0213A_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMP0213A/DMP0213A_detail_10_600x600.jpg" alt="DMP0213A_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%A2%E3%82%A4%E3%82%B9%E3%82%AF%E3%83%A9%E3%82%A4%E3%83%9E%E3%83%BC%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80SILVER/item/view/shop_product_id/58/category_id/3">アイスクライマータイピン　SILVER</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/giraffe+airline+%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80BLACK/item/view/shop_product_id/2067/category_id/3" class="_hover">
      <img alt="giraffe airline タイピン　BLACK" data-src="/sysimg/product/DMA0116S/DMA0116S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMA0116S/DMA0116S_detail_10_600x600.jpg" alt="DMA0116S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/giraffe+airline+%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80BLACK/item/view/shop_product_id/2067/category_id/3">giraffe airline タイピン　BLACK</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4 first-child nth-child">

    <figure>
    <a href="/shop/giraffe/giraffe+airline+%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80SILVER/item/view/shop_product_id/1416/category_id/3" class="_hover">
      <img alt="giraffe airline タイピン　SILVER" data-src="/sysimg/product/DMA0815S/DMA0815S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMA0815S/DMA0815S_detail_10_600x600.jpg" alt="DMA0815S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/giraffe+airline+%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80SILVER/item/view/shop_product_id/1416/category_id/3">giraffe airline タイピン　SILVER</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/giraffe%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80SILVER/item/view/shop_product_id/664/category_id/3" class="_hover">
      <img alt="giraffeタイピン　SILVER" data-src="/sysimg/product/BMP0214A/BMP0214A_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/BMP0214A/BMP0214A_detail_10_600x600.jpg" alt="BMP0214A_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/giraffe%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80SILVER/item/view/shop_product_id/664/category_id/3">giraffeタイピン　SILVER</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/giraffe%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80GOLD/item/view/shop_product_id/663/category_id/3" class="_hover">
      <img alt="giraffeタイピン　GOLD" data-src="/sysimg/product/BMP0114A/BMP0114A_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/BMP0114A/BMP0114A_detail_10_600x600.jpg" alt="BMP0114A_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/giraffe%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80GOLD/item/view/shop_product_id/663/category_id/3">giraffeタイピン　GOLD</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4 first-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GRAY/item/view/shop_product_id/1997/category_id/3" class="_hover">
      <img alt="ジラフタイピン GRAY" data-src="/sysimg/product/PMP0216A/PMP0216A_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0216A/PMP0216A_detail_10_600x600.jpg" alt="PMP0216A_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GRAY/item/view/shop_product_id/1997/category_id/3">ジラフタイピン GRAY</a></div>
    <div class="item-price">
              &yen;4,320          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80BEIGE/item/view/shop_product_id/183/category_id/3" class="_hover">
      <img alt="ジラフタイピン　BEIGE" data-src="/sysimg/product/PMP0613S/PMP0613S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0613S/PMP0613S_detail_10_600x600.jpg" alt="PMP0613S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80BEIGE/item/view/shop_product_id/183/category_id/3">ジラフタイピン　BEIGE</a></div>
    <div class="item-price">
              &yen;4,320          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80LT.BLUE/item/view/shop_product_id/182/category_id/3" class="_hover">
      <img alt="ジラフタイピン　LT.BLUE" data-src="/sysimg/product/PMP0113S/PMP0113S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0113S/PMP0113S_detail_10_600x600.jpg" alt="PMP0113S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
          <div class="icon">
                  <span class="label label-soldout">SOLDOUT</span>              </div>
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80LT.BLUE/item/view/shop_product_id/182/category_id/3">ジラフタイピン　LT.BLUE</a></div>
    <div class="item-price">
              &yen;4,320          </div>
  </div>
  </li>

          

<li class="span4 first-child nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80LT.PINK/item/view/shop_product_id/181/category_id/3" class="_hover">
      <img alt="ジラフタイピン　LT.PINK" data-src="/sysimg/product/PMP0413S/PMP0413S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0413S/PMP0413S_detail_10_600x600.jpg" alt="PMP0413S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
          <div class="icon">
                  <span class="label label-soldout">SOLDOUT</span>              </div>
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80LT.PINK/item/view/shop_product_id/181/category_id/3">ジラフタイピン　LT.PINK</a></div>
    <div class="item-price">
              &yen;4,320          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80ORANGE/item/view/shop_product_id/179/category_id/3" class="_hover">
      <img alt="ジラフタイピン　ORANGE" data-src="/sysimg/product/PMP0513S/PMP0513S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0513S/PMP0513S_detail_10_600x600.jpg" alt="PMP0513S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80ORANGE/item/view/shop_product_id/179/category_id/3">ジラフタイピン　ORANGE</a></div>
    <div class="item-price">
              &yen;4,320          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80WHITE/item/view/shop_product_id/177/category_id/3" class="_hover">
      <img alt="ジラフタイピン　WHITE" data-src="/sysimg/product/PMP0713S/PMP0713S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0713S/PMP0713S_detail_10_600x600.jpg" alt="PMP0713S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%80%80WHITE/item/view/shop_product_id/177/category_id/3">ジラフタイピン　WHITE</a></div>
    <div class="item-price">
              &yen;4,320          </div>
  </div>
  </li>

          

<li class="span4 first-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B303+YELLOW/item/view/shop_product_id/2866/category_id/3" class="_hover">
      <img alt="ジラフタイピン03 YELLOW" data-src="/sysimg/product/PMP0118S/PMP0118S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0118S/PMP0118S_detail_10_600x600.jpg" alt="PMP0118S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B303+YELLOW/item/view/shop_product_id/2866/category_id/3">ジラフタイピン03 YELLOW</a></div>
    <div class="item-price">
              &yen;4,320          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B302+BROWN%C3%97BEIGE/item/view/shop_product_id/2582/category_id/3" class="_hover">
      <img alt="ジラフタイピン02 BROWN×BEIGE" data-src="/sysimg/product/PMP0117A/PMP0117A_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMP0117A/PMP0117A_detail_10_600x600.jpg" alt="PMP0117A_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
          <div class="icon">
                  <span class="label label-soldout">SOLDOUT</span>              </div>
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B8%E3%83%A9%E3%83%95%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B302+BROWN%C3%97BEIGE/item/view/shop_product_id/2582/category_id/3">ジラフタイピン02 BROWN×BEIGE</a></div>
    <div class="item-price">
              &yen;5,400          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%82%B7%E3%83%AD%E3%82%AF%E3%83%9E%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GOLD/item/view/shop_product_id/2584/category_id/3" class="_hover">
      <img alt="シロクマタイピン GOLD" data-src="/sysimg/product/DMP0217A/DMP0217A_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMP0217A/DMP0217A_detail_10_600x600.jpg" alt="DMP0217A_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B7%E3%83%AD%E3%82%AF%E3%83%9E%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+GOLD/item/view/shop_product_id/2584/category_id/3">シロクマタイピン GOLD</a></div>
    <div class="item-price">
              &yen;16,200          </div>
  </div>
  </li>

          

<li class="span4 first-child nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B7%E3%83%AD%E3%82%AF%E3%83%9E%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/2583/category_id/3" class="_hover">
      <img alt="シロクマタイピン SILVER" data-src="/sysimg/product/DMP0117A/DMP0117A_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMP0117A/DMP0117A_detail_10_600x600.jpg" alt="DMP0117A_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
          <div class="icon">
                  <span class="label label-soldout">SOLDOUT</span>              </div>
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B7%E3%83%AD%E3%82%AF%E3%83%9E%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3+SILVER/item/view/shop_product_id/2583/category_id/3">シロクマタイピン SILVER</a></div>
    <div class="item-price">
              &yen;16,200          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%82%B4%E3%83%AA%E3%83%A9%E3%83%AB%E3%83%BC%E3%83%97%E3%82%BF%E3%82%A4+BLACK/item/view/shop_product_id/2390/category_id/3" class="_hover">
      <img alt="ゴリラループタイ BLACK" data-src="/sysimg/product/DMA0217S/DMA0217S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMA0217S/DMA0217S_detail_10_600x600.jpg" alt="DMA0217S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B4%E3%83%AA%E3%83%A9%E3%83%AB%E3%83%BC%E3%83%97%E3%82%BF%E3%82%A4+BLACK/item/view/shop_product_id/2390/category_id/3">ゴリラループタイ BLACK</a></div>
    <div class="item-price">
              &yen;15,120          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/%E3%82%B4%E3%83%AA%E3%83%A9%E3%83%AB%E3%83%BC%E3%83%97%E3%82%BF%E3%82%A4+GOLD/item/view/shop_product_id/2389/category_id/3" class="_hover">
      <img alt="ゴリラループタイ GOLD" data-src="/sysimg/product/DMA0117S/DMA0117S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/DMA0117S/DMA0117S_detail_10_600x600.jpg" alt="DMA0117S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/%E3%82%B4%E3%83%AA%E3%83%A9%E3%83%AB%E3%83%BC%E3%83%97%E3%82%BF%E3%82%A4+GOLD/item/view/shop_product_id/2389/category_id/3">ゴリラループタイ GOLD</a></div>
    <div class="item-price">
              &yen;15,120          </div>
  </div>
  </li>

          

<li class="span4 first-child">

    <figure>
    <a href="/shop/giraffe/giraffe%E3%82%AB%E3%83%95%E3%82%B9+GOLD/item/view/shop_product_id/2310/category_id/3" class="_hover">
      <img alt="giraffeカフス GOLD" data-src="/sysimg/product/PMA0217S/PMA0217S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMA0217S/PMA0217S_detail_10_600x600.jpg" alt="PMA0217S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/giraffe%E3%82%AB%E3%83%95%E3%82%B9+GOLD/item/view/shop_product_id/2310/category_id/3">giraffeカフス GOLD</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4 nth-child">

    <figure>
    <a href="/shop/giraffe/giraffe%E3%82%AB%E3%83%95%E3%82%B9+SILVER/item/view/shop_product_id/2309/category_id/3" class="_hover">
      <img alt="giraffeカフス SILVER" data-src="/sysimg/product/PMA0117S/PMA0117S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMA0117S/PMA0117S_detail_10_600x600.jpg" alt="PMA0117S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
        <div class="item-ttl"><a href="/shop/giraffe/giraffe%E3%82%AB%E3%83%95%E3%82%B9+SILVER/item/view/shop_product_id/2309/category_id/3">giraffeカフス SILVER</a></div>
    <div class="item-price">
              &yen;10,800          </div>
  </div>
  </li>

          

<li class="span4">

    <figure>
    <a href="/shop/giraffe/%E3%83%AA%E3%83%9C%E3%83%B3%E3%82%AB%E3%83%95%E3%82%B9++NAVY/item/view/shop_product_id/2319/category_id/3" class="_hover">
      <img alt="リボンカフス  NAVY" data-src="/sysimg/product/PMA0417S/PMA0417S_main_600x600.jpg" class="first-img" src="/assets/images/null.gif" />      <img class="second-img" src="/sysimg/product/PMA0417S/PMA0417S_detail_10_600x600.jpg" alt="PMA0417S_detail_10_600x600" />  
  </a>
  </figure>

  
  <div class="list-item-text">
          <div class="icon">
                  <span class="label label-rearrival">再入荷</span>              </div>
        <div class="item-ttl"><a href="/shop/giraffe/%E3%83%AA%E3%83%9C%E3%83%B3%E3%82%AB%E3%83%95%E3%82%B9++NAVY/item/view/shop_product_id/2319/category_id/3">リボンカフス  NAVY</a></div>
    <div class="item-price">
              &yen;5,400          </div>
  </div>
  </li>

      </ul>

            </div>
          </div>
        
    
  <div class="pager">
    <!--
    <div class="itemNumber pull-left">
          </div>
    !-->
        <div class="pageNumber">
      <ul>
      
                      <li class="pager_active"><a href="#">1</a></li>
                              <li><a href="/shop/giraffe/item/list/category_id/3/page/2">2</a></li>
              
                <li class="pager_next"><a href="/shop/giraffe/item/list/category_id/3/page/2">＞</a></li>
              </ul>
    </div>
      </div>

</div>
<!--カテゴリバナー【下】を表示させたい時↓-->

<div id="itemmenuarea" class="visible-phone">
 



  <h3><a id="drop1" href="/item/new_arrival"><div class="Arbutus">New Item</div><span>新製品</span></a></li>

  <h3><a id="drop2" href="/shop/giraffe/item/list/category_id/0"><div class="Arbutus">ALL Item</div><span>全ての商品</span></a></li>

  <h3><a id="drop3" href="/shop/giraffe/item/list/category_id/1" role="button" class="dropdown-toggle" data-toggle="dropdown"><div class="Arbutus">Necktie</div><span>ネクタイ</span></a></h3>

    <ul>
      <li><a href="/shop/giraffe/item/list/category_id/1">すべての商品</a></li>
<li><a href="/shop/giraffe/item/list/category_id/8">リバーシブル</a></li>
<li><a href="/shop/giraffe/item/list/category_id/10">カラーチップ</a></li>
<li><a href="/shop/giraffe/item/list/category_id/9">クレリック</a></li>
<li><a href="/shop/giraffe/item/list/category_id/130">4WAYタイ</a></li>
<li><a href="/shop/giraffe/item/list/category_id/128">タイピンセット</a></li>
<li><a href="/shop/giraffe/item/list/category_id/7">スタンダード</a></li>
<li><a href="/shop/giraffe/item/list/category_id/127">パッチワークタイ</a></li>
<li><a href="/shop/giraffe/item/list/category_id/129">ニットタイ</a></li>
<li><a href="/shop/giraffe/item/list/category_id/131">3本タイ</a></li>
</ul><ul class="box-right"><li><a href="/shop/giraffe/item/list/category_id/11">その他</a></li>
<li><a href="/shop/giraffe/item/list/category_id/152">残りわずか</a></li>
    </ul>

  <h3><a id="drop4" href="/shop/giraffe/item/list/category_id/2"><div class="Arbutus">Bowtie</div><span>蝶ネクタイ</span></a></h3>

  <h3><a id="drop5" href="/shop/giraffe/item/list/category_id/5"><div class="Arbutus">Shirts</div><span>シャツ</span></a></h3>
  
  <h3><a id="drop6" href="/shop/giraffe/item/list/category_id/3" role="button" class="dropdown-toggle" data-toggle="dropdown"><div class="Arbutus">Accessories</div><span>アクセサリー</span></a></h3>

    <ul>
      <li><a href="/shop/giraffe/item/list/category_id/3">すべての商品</a></li>
<li><a href="/shop/giraffe/item/list/category_id/12">ネクタイピン</a></li>
<li><a href="/shop/giraffe/item/list/category_id/150">カフス</a></li>
<li><a href="/shop/giraffe/item/list/category_id/157">袱紗</a></li>
<li><a href="/shop/giraffe/item/list/category_id/13">チーフ</a></li>
<li><a href="/shop/giraffe/item/list/category_id/25">ロゼット</a></li>
    </ul>  


</div>

      </div><!-- /container -->
      <div class="footer window-fix" id="page-footer">
        <div class="container">
          <div class="navbar">
            <div class="navbar-inner">
              <ul class="nav footer_menu">
                <li class="item-guide"><a href="http://giraffe-tie.com/stores/" class="bgnone" target="_blank">店舗一覧</a></li>
                <li class="item-guide"><a href="/guide/">ご利用ガイド</a></li>
                <li class="item-subscription"><a href="/customer/register">ニュースレター登録</a></li>
                <li class="item-agreement"><a href="/guide/agreement">ご利用規約</a></li><br class="visible-phone">
                <li class="item-legal"><a href="/guide/legal">特定商取引法に基づく表記</a></li>
                <li class="item-privacy"><a href="/guide/privacy">プライバシーポリシー</a></li><br class="visible-phone">
                <li class="item-faq"><a href="/guide/faq">よくあるご質問</a></li>
                <li class="item-inquiry"><a href="/inquiry/index">お問い合わせ</a></li>
              </ul>
              
              <div class="visible-phone official_site_btn">
        <a href="http://giraffe-tie.com/" target="_blank">giraffe Official Site</a>
              </div>
              
              <div class="coryright_logo_box"><!-- 
                <h2><img src="/assets/images/logo.jpg" class="mb10"></h2>                <p>COPYRIGHT (C) Smiles Co.,Ltd. All Rights Reserved.</p> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- /wrapper -->

   
  </body>
</html>
=======
<% provide(:title, "商品一覧") %>
<h1>Items</h1>
<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :item_name_cont, "Name" %>
    <%= f.text_field :item_name_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= paginate @items %>
<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Price</th>
      <th>Artist name</th>
      <th>Item image</th>
      <th>Category</th>
      <th>Label</th>
      <th>Genres</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <div class="container">
        <div class="col-sm-4">
        <td><%= link_to item.item_name, item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.artist_name %></td>
        <td><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg' %></td>
        <td><%= item.category %></td>
        <td><%= item.label %></td>
        <td><%= item.genres %></td>
        <% if item.stock == 0 %>
          <td>売り切れ！</td>
        <% else %>
          <td><%= item.stock %></td>
        <% end %>
      </div>
    </div>
      </tr>
    <% end %>
  </tbody>
</table>
