<% provide(:title, "商品一覧") %>
<h1>Items</h1>
<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :item_name_cont, "Name" %>
    <%= f.text_field :item_name_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= paginate @items %>
<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Price</th>
      <th>Artist name</th>
      <th>Item image</th>
      <th>Category</th>
      <th>Label</th>
      <th>Genres</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <div class="container">
        <div class="col-sm-4">
        <td><%= link_to item.item_name, item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.artist_name %></td>
        <td><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg' %></td>
        <td><%= item.category %></td>
        <td><%= item.label %></td>
        <td><%= item.genres %></td>
        <% if item.stock == 0 %>
          <td>売り切れ！</td>
        <% else %>
          <td><%= item.stock %></td>
        <% end %>
      </div>
    </div>
      </tr>
    <% end %>
  </tbody>
</table>
