<% provide(:title, "商品一覧") %>
<div class="container body" id="page-body">
  <div class="thema_image span12 mrnone">
    <p class="category-copy">
      TDL選りすぐりのCD達。あなたの生活のパートナーになってくれること間違いなしです。
    </p>
  </div>
  <div class="item_main_wrap clearfix">
    <div class="sort">
      <div class="ItemCount">
        <span><%= Item.all.count %> Items</span>
      </div>
      <form>
        <table>
          <tbody>
            <tr>
              <td class="search">
                <label>サイト内検索</label>
                <%= search_form_for @search do |f| %>
                  <%= f.text_field :item_name_cont %>
                <%= f.submit "検索" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="pager">
      <%= paginate @items %>
    </div>
    <div class="list">
      <div class="sectionContent">
        <ul class="row-fluid liquid-column2">

          <% @items.each do |item| %>
            <li class="span5" style="z-index: 0;">
              <figure style="text-align: center;"><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg' %>
              </figure>
              <div class="list-item-text">
                <div class="item-ttl">
                  <%= link_to item.item_name, item_path(item) %>
                </div>
                <div class="item-ttl">
                  <%= item.artist_name %>
                </div>
                <div class="item-price">
                  <%= item.price %>円
                </div>
                <div class="item-ttl">
                  <% if item.stock == 0 %>
                    売り切れ！
                  <% else %>
                    在庫：<%= item.stock %>枚
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="pager">
      <%= paginate @items %>
    </div>
  </div>
</div>