<% provide(:title, "商品詳細") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Artist name:</strong>
  <%= @item.artist_name %>
</p>

<p>
  <%= attachment_image_tag @item, :item_image, :fill, 300, 300, format: 'jpeg' %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Label:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Stock:</strong>
  <% if @item.stock == 0 %>
    <strong>在庫切れ！</strong>
  <% else %>
    <%= @item.stock %>
    <% if user_signed_in? %>
      <%= form_tag('/add_item', method: 'post') do %>
        <div><%= hidden_field_tag :item_id, @item.id %></div>
        <div><%= number_field_tag :count, nil, in: 0..@item.stock %>個</div>
        <%= submit_tag "カートに追加" %>
      <% end %>
    <% end %>
  <% end %>

</p>




<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
