<% provide(:title, "商品詳細") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Artist name:</strong>
  <%= @item.artist_name %>
</p>

<p>
  <%= attachment_image_tag @item, :item_image, :fill, 300, 300, format: 'jpeg' %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Label:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @item.admin_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @item.stock %>
</p>

<p>
  <strong>Is available:</strong>
  <%= @item.is_available %>
</p>

<p>
  <strong>Delete flag:</strong>
  <%= @item.delete_flag %>
</p>

<p>
  <strong>Is purchased:</strong>
  <%= @item.is_purchased %>
</p>

<%= form_tag("/add_item", method: "post") do %>
  <div><%= hidden_field_tag :item_id,@item.id %></div>
  <div><%= number_field_tag :count%>個</div>
  <%= submit_tag "カートに追加" %>
<% end %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
