<% provide(:title, "会員情報編集") %>
<h2>会員情報の編集</h2>
<% if admin_signed_in? %>
  <%= form_for(User.find_by(id: params[:user_id]), as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>

  <p>性</p>
    <%= f.text_field :last_name, placeholder: "" %>

  <p>性（カナ）</p>
    <%= f.text_field :last_name_kana, placeholder: "" %>

  <p>名</p>
    <%= f.text_field :first_name, placeholder: "" %>

  <p>名（かな）</p>
    <%= f.text_field :first_name_kana, placeholder: "" %>

  <p>メールアドレス</p>
    <%= f.email_field :email, placeholder: "" %>

  <p>郵便番号</p>
    <%= f.text_field :zip_code, placeholder: "" %>

  <p>住所</p>
    <%= f.text_field :address, placeholder: "" %>

  <p>電話番号</p>
    <%= f.text_field :phone_number, placeholder: "" %>

  <p>新しいパスワード</p>
    <%= f.password_field :password, placeholder: "6文字以上で入力してください" %>

  <p>新しいパスワード（確認）</p>
    <%= f.password_field :password_confirmation, placeholder: "6文字以上で入力してください" %>

  <p>現在のパスワード</p>
  <%= f.password_field :current_password, autocomplete: "off", placeholder: "現在のパスワードを入力してください" %>

  <%= hidden_field_tag :user_id, User.find_by(id: params[:user_id]).id %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<% elsif user_signed_in? %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <p>性</p>
    <%= f.text_field :last_name, placeholder: "" %>

  <p>性（カナ）</p>
    <%= f.text_field :last_name_kana, placeholder: "" %>

  <p>名</p>
    <%= f.text_field :first_name, placeholder: "" %>

  <p>名（かな）</p>
    <%= f.text_field :first_name_kana, placeholder: "" %>

  <p>メールアドレス</p>
    <%= f.email_field :email, placeholder: "" %>

  <p>郵便番号</p>
    <%= f.text_field :zip_code, placeholder: "" %>

  <p>住所</p>
    <%= f.text_field :address, placeholder: "" %>

  <p>電話番号</p>
    <%= f.text_field :phone_number, placeholder: "" %>

  <p>新しいパスワード</p>
    <%= f.password_field :password, placeholder: "6文字以上で入力してください" %>

  <p>新しいパスワード（確認）</p>
    <%= f.password_field :password_confirmation, placeholder: "6文字以上で入力してください" %>

  <p>現在のパスワード</p>
  <%= f.password_field :current_password, autocomplete: "off", placeholder: "現在のパスワードを入力してください" %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
<% end %>
