<% provide(:title, "会員登録") %>
<h2>会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p>性</p>
    <%= f.text_field :last_name, placeholder: "" %>

  <p>性（カナ）</p>
    <%= f.text_field :last_name_kana, placeholder: "" %>

  <p>名</p>
    <%= f.text_field :first_name, placeholder: "" %>

  <p>名（かな）</p>
    <%= f.text_field :first_name_kana, placeholder: "" %>

  <p>メールアドレス</p>
    <%= f.email_field :email, placeholder: "" %>

  <p>郵便番号</p>
    <%= f.text_field :zip_code, placeholder: "" %>

  <p>住所</p>
    <%= f.text_field :address, placeholder: "" %>

  <p>電話番号</p>
    <%= f.text_field :phone_number, placeholder: "" %>

  <p>パスワード</p>
    <%= f.password_field :password, placeholder: "" %>

  <p>パスワード（確認）</p>
    <%= f.password_field :password_confirmation, placeholder: "" %>

  <%= f.submit "会員登録" %>
<% end %>
