<% provide(:title, "会員登録") %>
<div id="wrapper">
  <div class="container body" id="page-body">
    <div class="row">
      <div class="span12">
        <h1 class="Arbutus title_spacer">
          <strong>Create Account</strong>
        </h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>
          <div class="form-striped">
            <div class="control-group">
              <label class="control-label">
                <span class="label-ttl">性</span>
              </label>
              <div class="controls">
                <%= f.text_field :last_name, placeholder: "" %></div>
            </div>
            <div class="control-group">
              <label class="control-label">
                <span class="label-ttl">性（カナ）</span>
              </label>
              <div class="controls">
                <%= f.text_field :last_name_kana, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">
                <span class="label-ttl">名</span>
              </label>
              <div class="controls">
                <%= f.text_field :first_name, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-labels">
                <span class="label-ttl">名（かな）</span>
              </label>
              <div class="controls">
                <%= f.text_field :first_name_kana, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-labels">
                <span class="label-ttl">メールアドレス</span>
              </label>
              <div class="controls">
                <%= f.email_field :email, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-labels">
                <span class="label-ttl">郵便番号</span>
              </label>
              <div class="controls">
                <%= f.text_field :zip_code, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-labels">
                <span class="label-ttl">住所</span>
              </label>
              <div class="controls">
                <%= f.text_field :address, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-labels">
                <span class="label-ttl">電話番号</span>
              </label>
              <div class="controls">
                <%= f.text_field :phone_number, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-labels">
                <span class="label-ttl">パスワード</span>
              </label>
              <div class="controls">
                <%= f.password_field :password, placeholder: "" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-labels">
                <span class="label-ttl">パスワード（確認）</span>
              </label>
              <div class="controls">
                <%= f.password_field :password_confirmation, placeholder: "" %>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <div>
              <%= f.submit "会員登録", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>