<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= "#{@order.user.last_name} #{@order.user.first_name} 様" %>
</p>

<p>
  <strong>User(カナ):</strong>
  <%= "#{@order.user.last_name_kana} #{@order.user.first_name_kana} 様" %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>円
</p>

<p>
  <strong>Zip code:</strong>
  <%= @order.zip_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @order.phone_number %>
</p>


<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name kana:</strong>
  <%= @order.last_name_kana %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @order.first_name_kana %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
