<% provide(:title, "購入履歴") %>
  <h1 class="Arbutus title_spacer">
    <strong>購入履歴</strong>
  </h1>

  <div class="list-item-text" style="font-size: 20px;">
           <div class="item-ttl">
            購入者：<%= @order.last_name %> <%= @order.first_name %> 様</div>
            <div class="item-ttl">
            購入日：<%= @order.updated_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@order.updated_at.wday]})")  %></div>
             <div class="item-ttl">合計金額：<%= @order.total_price %>円</div>
              <div class="item-ttl"><% @order.order_items.each do |order_item| %>
                </div>
            
                <figure style="text-align: center;">
                  <%= attachment_image_tag Item.find_by(id: order_item.item_id), :item_image, :fill, 650, 650, format: 'jpeg' %></figure>
            
        <div class="list-item-text">
           <div class="item-ttl">
              商品名：<%= order_item.item_name %></div>
           <div class="item-ttl">
               購入枚数：<%= order_item.count %>枚</div>
          
           <div class="item-ttl">
              金額：<%= order_item.price %>円</div>
           <div class="item-ttl">小計：<%= order_item.price * order_item.count %>円</div>
                <% end %>
            <div class="item-ttl">
                送付先住所</div>
            <div class="item-ttl">
                  〒<%= @order.zip_code %></div>
            <div class="item-ttl">
                  <%= @order.address %></div>
                <% if admin_signed_in? %>
                  <%= form_for(@order) do |f| %>
              <div class="item-ttl">      
                    <%= hidden_field_tag :order_id, @order.id %></div>
               <div class="item-ttl">     
                    <%= f.select :is_purchased, Order.is_purchaseds.keys.to_a %></div>
                    <%= submit_tag "発送状況の変更" %>
                  <% end %>
                <% end %>
                <div class="item-ttl">
                  発送状況：<%= @order.is_purchased %></div>
      </div>

