<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
  	<div class="wrapper">
      <header>
        <div class="navbar navbar-fixed-top" id="page-header">
          <div class="navbar-inner">
            <div class="container">
              <div id="head-bar">
                <h1 id="h1-logo-pc">
                  <%= link_to "", items_path %>
                </h1>
                <div class="utility-nav-box visible-desktop">
                  <ul class="inline utility-nav menu-pc-option">
                    <% if user_signed_in? %>
                      ようこそ！<%= current_user.last_name %>さん！
                      <li class="menu-price ie-br">
                        <%= link_to "カート一覧", current_cart %>
                      </li>
                      <li class="menu-login ie-br">
                        <%= link_to "マイページ", "/users/#{current_user.id}" %>
                      </li>
                      <li class="menu-login ie-br">
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                      </li>
                    <% elsif admin_signed_in? %>
                      管理者：<%= current_admin.name %>
                      <li class="menu-login ie-br">
                        <%= link_to "ユーザー一覧", users_index_path %>
                      </li>
                      <li class="menu-price ie-br">
                        <%= link_to "商品登録", new_item_path %>
                      </li>
                      <li class="menu-login ie-br">
                        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                      </li>
                    <% else %>
                      <li class="menu-login ie-br">
                        <%= link_to "ログイン", new_user_session_path %>
                      </li>
                      <li class="menu-login ie-br">
                        <%= link_to "新規会員登録", new_user_registration_path %>
                      </li>
                      <li class="menu-login ie-br">
                        <%= link_to "管理者用", new_admin_session_path %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <%= yield %>
      <footer>
        <div class="footer window-fix", id="page-footer">
          <div class="container">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="copyright_logo_box">
                  <p>COPYRIGHT©︎︎Twinkle Drill Labyrinth Co.,Ltd. All Rights Reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
