<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<<<<<<< HEAD
  	
    <header>
    
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white ">
       
       <nav class="navbar navbar-toggleable-md navbar-inberse w-100 m-0 m-autofixed-top">
         <div class="container fixed-top w-100 m-0 m-auto bg-white border-bottom box-shadow">
           <h5 class="my-0 mr-md-auto"><%= link_to image_tag("logo.png"), items_path %></h5>

           <nav class="my-2 my-md-0 mr-md-3">
            <% if user_signed_in? %>
     			    <%= link_to "マイページ", "/users/#{current_user.id}", class: "p-2 text-dark" %> </a> 
              <%= link_to "カート一覧", current_cart, class: "p-2 text-dark" %>  
      			  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "p-2 text-dark" %>
              ようこそ！<%= current_user.last_name %>さん！
      		  <% elsif admin_signed_in? %>
             <%= link_to "ユーザー一覧", users_index_path, class: "p-2 text-dark" %>  
      			 <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete,class: "p-2 text-dark"%> 
              管理者<%= current_admin.name %>さんでログインしています。
      		  <% else %>
  			     <%= link_to "新規登録", new_user_registration_path, class: "p-2 text-dark" %>  
  			     <%= link_to "ログイン", new_user_session_path, class: "p-2 text-dark" %>  
  			     <%= link_to "管理者用", new_admin_session_path, class: "p-2 text-dark" %>
  		      <% end %>
      </nav>
     </div> 
  	 
     </header>
    
=======
  	<header>
  		<%= link_to "ロゴ", items_path %> | 
  		<% if user_signed_in? %>
  			<%= link_to "マイページ", "/users/#{current_user.id}" %> | 
        <%= link_to "カート一覧", current_cart %> | 
  			<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        | ようこそ！<%= current_user.last_name %>さん！
  		<% elsif admin_signed_in? %>
        <%= link_to "ユーザー一覧", users_index_path %> | 
        <%= link_to "商品登録", new_item_path %> | 
  			<%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %> | 
        管理者<%= current_admin.name %>さんでログインしています。
  		<% else %>
  			<%= link_to "新規登録", new_user_registration_path %> | 
  			<%= link_to "ログイン", new_user_session_path %> | 
  			<%= link_to "管理者用", new_admin_session_path %>
  		<% end %>
  	</header>
>>>>>>> 4cb1323d3cdabcc55e834567c19a49700874fcc4
    <%= yield %>
  </body>
</html>
