<% provide(:title, "ユーザー一覧") %>
<div id="wrapper">
	<div class="container body" id="page-body">
		<h2 class="Arbutus title_spacer"><strong>ユーザー一覧</strong></h2>
		<div class="row">
				<div class="box_clearfix">
					<section class="guide" id=guide0>
						<div class="page-header">
							<h2>存在するユーザー</h2>
						</div>
						<%= paginate @users %>
						<% @users.each do |user| %>
							<section><%= user.last_name %>
							<%= user.first_name %> | 
							<%= link_to "詳細", user_path(user) %>
							<% if user.orders.exists? %>
								 | 最終購入日：<%= user.orders.last.updated_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
							<% end %>
							</section>
						<% end %>
						<div class="page-header">
							<h2>退会済みのユーザー一覧</h2>
						</div>
						<%= paginate @deleted_users %>
						<% @deleted_users.each do |d| %>
							<section><%= d.last_name %>
							<%= d.first_name %> | 
							退会日：<%= d.deleted_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
						</section>
						<% end %>
					</section>
				</div>
		</div>
	</div>
</div>